<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
        <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    
<h1>Your previous results:-</h1>

<button class="btn btn-primary text-white px-4 py-2" id="home"> Home</button>

<script src="{{url_for('static',filename='home.js')}}"></script>
<script src="{{url_for('static',filename='jquery-3.5.1.min.js')}}"></script>
<script src="{{url_for('static',filename='popper.min.js')}}"></script>
<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
</body>
</html>