<html>

<head>

    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>



    <div class="container d-flex justify-content-center py-5">
        <div class="login w-100 p-5">
            <h1 class="py-2">Sign In</h1>
            <div class="form-group">
                <input id="mail" type="email" class="form-control" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <input id="pass" type="password" class="form-control" placeholder="Enter your password">
            </div>
            <h5 id="tXt"></h5>
            <a id="wellink"><button id="logSys" class="btn w-100 my-2 ">Login</button></a>

            <highlight>Don't you have an account? <a href="signup.html">Sign Up</a></highlight>
        </div>
    </div>

    <script src="{{url_for('static',filename='jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='main.js')}}"></script>

</body>

</html>